/* 
 * @author  Michael Gary Dean <contact@michaeldean.ca>
 * @see     https://github.com/michaelgarydean
 */

/* ---- ELEMENTS ---- */

header {
  font-weight: bold; }

  header h1 {
  margin: 0;
  font-weight: inherit;
  text-transform: uppercase; }

  header nav a {
  font-size: var(--menu-font-size); }

/* Margin's are set using the h1-h6 elements NOT the paragraphs */
h1 {
  font-size: var(--menu-font-size); }

h2 {
  text-transform: uppercase; }

h3 {
  font-weight: 500; }

p {
  margin: 0;
  line-height: var(--line-height); }

figcaption {
  margin: 1em 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
  transition-duration: var(--transition-speed); }

a:hover {
  color: var(--secondary-color);
  cursor: pointer; }

p {
  white-space: pre-line; }

/* MISC */
* {
  box-sizing: border-box; }

@media (max-width: 400px) {
  header nav a {
    font-size: 1.5em; }

  h1 {
    font-size: 1.5em; } }

/* ---- GENERAL CONTENT ---- */

#container {

  min-height: 100vh; }

.single-item-container, .embed-container {

  margin: var(--container-margins); }

.page-padding {

  padding-left: var(--side-margin-outer);
  padding-right: var(--side-margin-outer); }

@media (max-width: var(--media-small-device-width)) {

  .page-padding {

    padding-left: var(--mobile-side-margin-outer);
    padding-right: var(--mobile-side-margin-outer); } }

.vertical-page-padding {

  padding-top: var(--vertical-margin-outer);
  padding-bottom: var(--vertical-margin-outer); }

/* RESPONSIVE COLUMNS */

.flex-content-parent {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

  .flex-content-parent .flex-two-column {
    width: 47%;
  } 

  .flex-content-parent .flex-three-column {
    justify-content: center;
    width: 30%;
  }

  .flex-content-parent .flex-three-column img {
    max-width:100%;
    max-height:100%;
  }

@media (max-width: var(--media-medium-device-width) {

  .single-item-container:first-of-type {
    margin: 0;
  }

  .flex-content-parent {
    flex-direction: column;
  }

  .flex-content-parent .flex-two-column {
    width: 100%;
  } 

  .flex-content-parent .flex-three-column {
    width: 100%;
  }
}