  .hero {
    position: relative;

    /* Sizing */
    width: 100%;
    height: 100vh;
    display: flex;

    align-items: center;
  }


    .hero .hero-background-wrapper {

      clip: rect(0, auto, auto, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

      .hero .hero-background-wrapper .hero-background {
        /*background-image: url("./../public/assets/Michael Gary Dean - Abandoned Pianos - Rehearsal Shot01 - Sebastien Roy.jpg");
        background-image: url("/Michael Gary Dean - Abandoned Pianos - Rehearsal Shot01 - Sebastien Roy.jpg");
        */
        background-image: url('./MichaelGaryDean-AP-Sebastien Roy01.webp');
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        /*
        background-position: center center;
        */
        background-position: left;

        transform: translateZ(0);
        will-change: transform;
        z-index: -1;
    
    }

    .hero .hero-inner {
    }

      .hero .hero-inner h2 {
        font-size: var(--hero-heading-font-size);
        margin: 0;
      }

      .hero .hero-inner .sub-text {
        line-height: var(--hero-heading-line-height);
        margin: 0;
        margin-bottom: 10px;
      }

.hero-footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between; }

  .hero-footer .hero-footer-section {
      display: flex;
      align-items: center; }