/* 
 * @author  Michael Gary Dean <contact@michaeldean.ca>
 * @see     https://github.com/michaelgarydean
 */

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-weight: 500; }

body {
  font-family: "Neue Montreal", Helvetica, Ariel, sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing); }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}