/* 
 * @author  Michael Gary Dean <contact@michaeldean.ca>
 * @see     https://github.com/michaelgarydean
 */

/* ICONS - ie. SOCIAL MEDIA */
/* SVG Sprites: https://www.sitepoint.com/css-with-svg/ */
/* https://css-tricks.com/svg-use-external-source/ */
a svg path {
  fill: var(--font-color);
    transition-duration: var(--transition-speed);
}

a svg:hover path {
    fill: var(--secondary-color);
}

.footer-wrapper .social-media-icons-horizontal a svg {
}

.social-media-icons-horizontal a:first-of-type svg {
   margin-left: 0px;
}

.social-media-icons-horizontal a:last-of-type svg {
   margin-right: 0px;
}