/* 
 * @author  Michael Gary Dean <contact@michaeldean.ca>
 * @see     https://github.com/michaelgarydean
 */

/* ---- VARIABLES ---- */
:root {
  --background-color: #191919;;
  --secondary-color: #D69066; 
  --font-color: #FFF; 
  
  /* typography */
  --font-size: 15px;
  --heading-font-size: 1.5em;
  --menu-font-size: var(--heading-font-size);
  --menu-font-size-mobile: 1.5em;
  --hero-heading-font-size: 3em;

  --line-height: 1.5em;
  --hero-heading-line-height: 1.75em;
  --letter-spacing: 0.05em;

  /* icons */
  --menu-icon-size: 48px;
  --social-media-icons-size: 20px;

  /* global margins */
  --side-margin-outer: 30px;
  --mobile-side-margin-outer: 20px;

  --vertical-margin-outer: 20px;
  --container-margins: 1em 0; /* USE THIS FOR MARGINS FOR ALMOST ALL SINGLE ITEMS + @see .single-item-container, .embed-container */

  --side-margin-inner: $menu_icon_size + $side_margin_outer;

  /* animations */
  --intro-animation-length: 3s;
  --transition-speed: 0.4s;

  /* media */
  --media-medium-device-width: 800px;
  --media-small-device-width: 400px;
  --footer-scaling-mobile: 0.8;}
